body.dark-mode {
    background-color: #18191A;
    color: #f1f1f1;
    transition: 0.5s;
}

body.dark-mode .cabecalho {
    background-color: #232323;
    color: #f1f1f1;
    transition: 0.5s;
}

body.dark-mode form div {
    background-color: #232323;
    transition: 0.5s;
}

body.dark-mode .input-text,
body.dark-mode .input-email,
body.dark-mode .textarea,
body.dark-mode .select {
    background-color: #18191A;
    color: #f1f1f1;
    transition: 0.5s;
}

body.dark-mode label,
body.dark-mode .aviso {
    color: #d6d6d6;
    transition: 0.5s;
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode textarea {
    border-color: #444444;
}