* {
    padding: 0;
    margin: 0 auto;
}

body {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: 0.5s;
    max-width: 1120px;
}