@media (max-width: 900px) {
    .titulo {
        gap: 32px;
        flex-wrap: wrap;
        margin-bottom: 24px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .cabecalho,
    form {
        margin: 0;
        width: 100vw;
        min-width: 0;
        box-sizing: border-box;
    }

    .titulo h1 {
        font-size: 1.2rem;
    }

    label,
    .aviso {
        font-size: 0.95rem;
    }

    .icone-lua-container {
        top: 20px;
        right: 20px;
    }

    .icone-lua {
        height: 20px;
    }
}

@media (max-width: 400px) {
    .titulo h1 {
        font-size: 1.4rem;
    }

    .input-submit {
        font-size: 0.95rem;
        padding: 8px;
    }
}